<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
    <body style="color: orange;"" background="black"> 
       <h1><marquee> Rendered from EJS  View....</marquee></h1>
    </body>
</head></html>